<!DOCTYPE html>
<html>
   <body>
      <div ng-controller="mapsController">

         <div id="map"></div>

         <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
            <label id="names" >{{marker.title}}</label></a>
         </div>

         <!-- <div id="new_truck_form">
         	<h4>Add a New Food Truck!</h4>
         	<form name='truckForm' ng-submit='addTruck()'>
            	   Name: <input type='text' ng-model='new_truck.name' ng-minlength='3' required>
                  Description: <input type='text' ng-model='new_truck.desc' required>
                  Latitude: <input type='text' ng-model='new_truck.lat' required>
                  Longitude: <input type='text' ng-model='new_truck.lon' required>
            		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type='submit'>Submit</button>
         	</form>
         </div> -->

      </div>

      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Food Truck Mapper</div>
           <ul class="mdl-mini-footer__link-list">
           <li><a href="mailto:krossio@gmail.com">Contact</a></li>
           <li><a href="http://www.github.com/krossio" target="_blank">Github</a></li>
           <li> Copyright © 2016 - Kay Rossio<li>
          </ul>
        </div>
      </footer>

  </body>
</html>
