<!DOCTYPE html>
<html>
   <body>
      <div ng-controller="mapsController">

         <div id="map"></div>

         <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
            <label id="names" >{{marker.title}}</label></a>
         </div>

         <div class="mdl-layout-spacer"></div>

      </div>

      <footer class="mdl-mini-footer">
         <div class="mdl-mini-footer__left-section">
         <div class="mdl-logo">Food Truck Mapper</div>
         </div>
         <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
               <li><a href="https://github.com/krossio/food-truck-finder.git" target="_blank">Github</a></li>
               <li><a href="mailto:krossio@gmail.com" target="_blank">Contact</a></li>
               <li> Copyright © 2016 Kay Rossio<li>
            </ul>
         </div>
      </footer>

   </body>

</html>
