#map{
   height: 600px;
   width: 100%;
   margin-bottom: 25px;
   }

#repeat{
   display: inline;
   }

#country_container, #new_truck_form {
   margin-left: 2%;
   margin-bottom: 10px;
}

p, input {
   margin-bottom: 10px;
}

#new_truck_form_2 {
   margin-left: 7%;
   margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 5%;
}
