#map{
   height: 600px;
   width: 100%;
   margin-bottom: 25px;
   margin-left:auto;
   margin-right: auto;
   }

#repeat{
   display: inline;
   }

footer{
   margin-top: 40px;
}

#country_container {
   margin-left: 2%;
   margin-bottom: 10px;
}
